{% extends "./base.html" %}


{% block title %}
Site Pika
{% endblock  %}



{%block content%} 

{% if latest_regiao_list %}
    <ul>
    {% for regiao in latest_regiao_list %}
        <h1>{{ regiao.regiao }}</h1>
        {% for dadosM in regiao.dadosM%}
            <li><p> Temperatura {{ dadosM.temperatura }}</p></li>
            <li><p> Umidade {{ dadosM.umidade }}</p></li>
        {%endfor%}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}



<div class="row">
    <div class="col-lg-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item w-100" style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" height="480" src="https://charts.mongodb.com/charts-theweather-qayct/embed/charts?id=64fd2241-692c-4e00-8add-b37f5f1e0626&maxDataAge=300&theme=dark&autoRefresh=true"></iframe>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item w-100" style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" height="480" src="https://charts.mongodb.com/charts-theweather-qayct/embed/charts?id=6510d26b-72da-4ced-848e-8a2dc1713838&maxDataAge=300&theme=dark&autoRefresh=true"></iframe>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item w-100" style="background: #21313C;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" height="480" src="https://charts.mongodb.com/charts-theweather-qayct/embed/charts?id=6510de55-72da-4193-83bc-8a2dc1794fe4&maxDataAge=300&theme=dark&autoRefresh=true"></iframe>
        </div>
    </div>
</div>   




{% endblock%}

