{% extends "./base.html" %}
{% load static %}

{% block title %} The wheather {% endblock %} 

{%block content %}

<section id="section" class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="chart-container" style="aspect-ratio: 2">
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="chart-container" style="aspect-ratio: 2">
        <canvas id="myChart2"></canvas>
    </div>
  </div>
</section>



{% endblock content %} 

{% block script %}
<script src="{% static 'script.js' %}"></script>
<script>
  var dadosMregiao = {{latest_regiao_list|safe}}
  var datasetsUmidade = []
  var datasetsTemperatura = []
  var temperaturaUmidae = []

  var dadosMregiao2 = {}

  for(var x in dadosMregiao){
    var dictU = {}
    var dictT = {}
    var dictUT = {}

    dictT.label = dadosMregiao[x]['regiao']
    dictU.label = dadosMregiao[x]['regiao']
    dictUT.nome = dadosMregiao[x]['regiao']
    dictUT.data = []

    dadosMregiao2[dadosMregiao[x]['regiao']] = []

    var dadosM = dadosMregiao[x]['dadosM'];


    var temperatura = dadosM.map(x => ({"y": x.temperatura, "x": x.dt_criacao}))
    dadosMregiao2[dadosMregiao[x]['regiao']].push({"type": "bar", "label": "Temperatura", "data": temperatura})

    var umidade = dadosM.map(x => ({"y": x.umidade, "x": x.dt_criacao}))
    dadosMregiao2[dadosMregiao[x]['regiao']].push({"type": "line", "label": "Umidade", "data": umidade})





    dictU.data = dadosM
    dictT.data = dadosM

    dictU.parsing = {
      xAxisKey: 'dt_criacao',
      yAxisKey: 'umidade'
    }

    dictT.parsing = {
      xAxisKey: 'dt_criacao',
      yAxisKey: 'temperatura'
    }

    datasetsUmidade.push(dictU)
    datasetsTemperatura.push(dictT)
  }

  console.log(datasetsUmidade)
  console.log(dadosMregiao2)


  const ctx = document.getElementById("myChart");
  const ctx2 = document.getElementById("myChart2");


  graficoLine(ctx, datasetsUmidade, "Gráfico Umidade (2023)",20)
  graficoLine(ctx2, datasetsTemperatura,"Gráfico Temperatura (2023)",20)

  criaGraficosUmTemp(dadosMregiao2)

  
 
</script>
{% endblock %}
